<ion-header>
  <ion-toolbar color="medium">
		<ion-button href="main-page" color="light"><ion-icon name="home"></ion-icon></ion-button><ion-title>LEVEL 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<img src="../../assets/icon/LEVEL2/L2-2.jpg" class="level2">
	<div class="ion-padding">
	<ion-item>
		<ion-button color="primary" (click)="clear()"><ion-icon name="trash"></ion-icon></ion-button>
		<ion-input type="text" maxlength="1" id="i1" [(ngModel)]="I1" readonly></ion-input>
		<ion-input type="text" maxlength="1" id="i2" [(ngModel)]="I2" readonly></ion-input>
		<ion-input type="text" maxlength="1" id="i3" [(ngModel)]="I3" readonly></ion-input>
		<ion-input type="text" maxlength="1" id="i4" [(ngModel)]="I4" readonly></ion-input>
		<ion-button color="primary" (click)="complete1()">OK</ion-button>
	</ion-item><br>
		<ion-button class="ionbutton" color="secondary" id="U" (click)="U()" >U</ion-button>
		<ion-button class="ionbutton" color="secondary" id="A" (click)="A()" >A</ion-button>
		<ion-button class="ionbutton" color="secondary" id="P" (click)="P()" >P</ion-button>
		<ion-button class="ionbutton" color="secondary" id="T" (click)="T()" >T</ion-button><br>
		<ion-button class="ionbutton" color="secondary" id="O" (click)="O()" >O</ion-button>
		<ion-button class="ionbutton" color="secondary" id="L" (click)="L()" >L</ion-button>
		<ion-button class="ionbutton" color="secondary" id="X" (click)="X()" >X</ion-button>
		<ion-button class="ionbutton" color="secondary" id="M" (click)="M()" >M</ion-button>	
	</div>	
</ion-content>
