.level2{
	width: 13em; height: 13em;
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 1em;
   }
ion-input{
        border: solid 1px black;
		width: 10px; 
        height: 28px; 
        margin-left: 1px; 
        margin-right: 1px;
		text-align: center;
    }
.ionbutton{
	width: 48px; 
    height: 48px; 
	margin-left: 9px; 
	margin-right: 9px;
	margin-bottom: 5px;
	font-size: 20px;
}
ion-button{
	height: 40px;
	width: 45px;
	font-size: 15px;
}