.image{
     background-size:cover; width: auto; height: auto;
     background-image:url('../../assets/icon/complete.jpg');
     background-position:100% 100%;
   }
.ion-btn{
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 40%;
	font: bold 18px Georgia, serif;
	text-align: center;
	width: 45%;
	height: 30px;
	font: 10px;
	margin-bottom: 5%;
}
.level1{
width: 70%; height: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%;
	display: block;
   }
#wd{
	text-align: center;
	color: white;
	font: 25px Broadway,Georgia, serif;
}
#wd1{
	padding: 10px;
	text-align: center;
	color: #FCC201;
	font: bold 30px Broadway, Georgia, serif;
}
.home{
	margin-top: 5%;
	color: white;
	font-size: 110%;
}