<ion-header>
  <ion-toolbar color="success">
  
    <ion-title>LEVELS</ion-title>
	
  </ion-toolbar>
</ion-header>

<ion-content>
	
<ion-list>

  <ion-item><BR>
    <img src="../../assets/icon/LEVEL1/L1-A.jpg"><ion-button size="full" color="secondary" shape="round" href="level1">Level 1</ion-button><BR>
  </ion-item>
  <ion-item>
    <img src="../../assets/icon/LEVEL2/L2-1.jpg"><ion-button size="full" color="secondary" shape="round" href="level2">Level 2</ion-button><BR>
  </ion-item>
  
</ion-list><br><br><br><br>

<button ion-button icon-only (click)="presentPopover($event)">
  <ion-icon name="more"></ion-icon>
</button>

</ion-content>
