<ion-header>
</ion-header>

<ion-content>
	<div class="image">
		 <ion-button href="main-page"><ion-icon name="home" class="home"></ion-icon></ion-button>
		<h1 id="wd1" color="secondary">Good Job<ion-icon name="thumbs-up"></ion-icon></h1>
		<h3 id="wd">SHOE</h3>
		<img src="../../assets/icon/LEVEL2/L2-1.jpg" class="level2"><br>
		<ion-button href="l2a" class="ion-btn">Play Again</ion-button>
		<ion-button href="l2b" color="success" class="ion-btn">Next     <ion-icon name="arrow-forward"></ion-icon></ion-button>
	</div>
</ion-content>

