<ion-header>
  <ion-toolbar color="secondary">
		<ion-button href="main-page" color="light"><ion-icon name="home"></ion-icon></ion-button><ion-title>LEVEL 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<ion-button href="l2a" color="light" class="img"><img src="../../assets/icon/LEVEL2/L2-1.jpg"></ion-button>
		<ion-button href="l2b" color="light" class="img"><img src="../../assets/icon/LEVEL2/L2-2.jpg"></ion-button>
		<ion-button href="l2c" color="light" class="img"><img src="../../assets/icon/LEVEL2/L2-3.jpg"></ion-button>
	</div>	
</ion-content>
