<ion-header>
  <ion-toolbar color="secondary">
		<ion-button href="main-page" color="light"><ion-icon name="home"></ion-icon></ion-button><ion-title>LEVEL 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<ion-button href="l1a" color="light" class="img"><img src="../../assets/icon/LEVEL1/L1-A.jpg"></ion-button>
		<ion-button href="l1b" color="light" class="img"><img src="../../assets/icon/LEVEL1/L1-B.jpg"></ion-button>
		<ion-button href="l1c" color="light" class="img"><img src="../../assets/icon/LEVEL1/L1-C.jpg"></ion-button>
	</div>	
</ion-content>
